@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "./additional-styles/utility-patterns.css";

body {
  font-family: "Nunito", "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

@theme {
    --container-8xl: 88rem;
  --container-9xl: 96rem;
  --container-10xl: 120rem;

  /* BRAND */
  --color-brand-primary: #F97316;
  --color-brand-secondary: #1E293B;
  --color-brand-dark: #0F172A;
  --color-brand-light: #F8FAFC;
  --color-brand-white: #FFFFFF;

  /* PRIMARY SCALE */
  --color-primary-100: #FFF7ED;
  --color-primary-200: #FFEDD5;
  --color-primary-300: #FED7AA;
  --color-primary-400: #FDBA74;
  --color-primary-500: #FB923C;
  --color-primary-600: #F97316;
  --color-primary-700: #EA580C;
  --color-primary-800: #C2410C;
  --color-primary-900: #9A3412;

  /* SECONDARY SCALE */
  --color-secondary-100: #F1F5F9;
  --color-secondary-200: #E2E8F0;
  --color-secondary-300: #CBD5F5;
  --color-secondary-400: #94A3B8;
  --color-secondary-500: #64748B;
  --color-secondary-600: #475569;
  --color-secondary-700: #334155;
  --color-secondary-800: #1E293B;
  --color-secondary-900: #0F172A;

  /* GREY */
  --color-grey-100: #F9FAFB;
  --color-grey-200: #F3F4F6;
  --color-grey-300: #E5E7EB;
  --color-grey-400: #D1D5DB;
  --color-grey-500: #9CA3AF;
  --color-grey-600: #6B7280;
  --color-grey-700: #4B5563;
  --color-grey-800: #374151;
  --color-grey-900: #111827;

  /* SUCCESS */
  --color-success-500: #22C55E;

  /* DANGER */
  --color-danger-500: #EF4444;

  /* WARNING */
  --color-warning-500: #F59E0B;

  /* INFO */
  --color-info-500: #3B82F6;

  /* ACCENTS */
  --color-pink-500: #EC4899;
  --color-purple-500: #8B5CF6;
  --color-orange-500: #F97316;
  --color-cyan-500: #06B6D4;
  --color-indigo-500: #6366F1;
  --color-teal-500: #14B8A6;
}
